#top-banner {
  top: 0;
  position: sticky;
  padding: 0.75rem 1.25rem;
  text-align: center;
  background-color: $navy;
  color: $white;
  z-index: 9999;
  font-size: $font-md;
  line-height: 1.4;
  a {
    color: $white !important;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: $light-pool !important;
    text-underline-offset: 0.2rem;
    &:hover {
      text-decoration-color: $white !important;
    }
  }
}

